html    {
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

body {
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
    text-align: center;
    color: lightgrey;
}

p   {
font-size: 12px;
line-height: 2;
letter-spacing: 1px;
}

button {
    margin: 0 0 10px 10px;
    font-size: 24px;
    border-radius: 3px;
}